.btn-danger-hover {
    color: $white;

    &:hover {
        border: 1px solid $danger;
        color: $danger;
        background-color: $white;
    }
}

.btn-primary-hover {
    color: $white;

    &:hover {
        border: 1px solid $primary;
        color: $primary;
        background-color: $white;
    }
}

.btn-light-hover {
    &:hover {
        border: 1px solid $dark;
        background-color: $white;
    }
}

.btn-hover {
    &:hover {
        color: $danger;
    }
}

.btn-contactus {
    width: 100%;

    @media (min-width:768px) {
        width: auto;
    }
}