<aside class="h-100 px-4 py-5">
    <label for="menu" class="d-flex justify-content-between pb-5">
        <img src="assets/images/sidebar-logo.svg" alt="logo">
        <img src="assets/images/icon-close.svg" alt="icon-cross" class="cursor-pointer">
    </label>
    <nav class="nav d-flex flex-column text-center h-100">
        <ul class="ps-0 mb-0">
            <li class="nav-item border-info border-top border-bottom">
                <a class="nav-link text-white fs-4 py-3">
                    <span>FEATURES</span>
                </a>
            </li>

            <li class="nav-item border-info border-bottom">
                <a class="nav-link text-white fs-4 py-3">
                    <span>PRICING</span>
                </a>
            </li>
            <li class="nav-item border-info border-bottom">
                <a class="nav-link text-white fs-4 py-3">
                    <span>CONTACT</span>
                </a>
            </li>
            <li class="nav-item border rounded mt-4">
                <a class="nav-link text-white fs-4 py-3">
                    <span>LOGIN</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>