<main class="py-5">
    <!-- Start: Boommark Manager Section -->
    <section class="d-flex flex-column-reverse flex-md-row pb-5 mb-5">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center text-center text-md-start">
            <h1>A Simple Bookmark Manager</h1>
            <p class="text-info">A clan and simple interface to organize your favourite websites. Open a new browser
                tabs and see your
                sites load instantly. Try it for free</p>
            <div>
                <button class="btn btn-primary btn-primary-hover shadow rounded-1 p-3 me-4">Get it on Chrome</button>
                <button class="btn btn-light btn-light-hover shadow rounded-1 p-3">Get it on Firefox</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="assets/images/illustration-hero.svg" alt="illustration-hero" class="img-fluid">
            <!-- <div class="img-bg"></div> -->
        </div>
    </section>
    <!-- End: Boommark Manager Section -->

    <!-- Start: Features Section -->
    <section class="d-flex flex-column align-items-center pb-5 mb-5 pt-5 pt-md-0">
        <div class="w-md-50 text-center">
            <h3 class="pt-4 pt-md-0">Features</h3>
            <p class="text-info pb-md-4">Our aim is to make it quick and easy for you to access your
                favourite
                websites.
                Your bookmarks sync between your devices so you can access them on the go. </p>
        </div>

        <nav>
            <ul class="tabs-container d-md-flex ps-0 mb-0">
                <li class="tabs-list px-5 py-4" (click)="onTabClick('Simple Bookmarking')"
                    [ngClass]="{ 'activetab' :activeTab === 'Simple Bookmarking'}">
                    <a>Simple Bookmarking</a>
                </li>
                <li class="tabs-list px-5 py-4" (click)="onTabClick('Speedy Searching')"
                    [ngClass]="{ 'activetab' :activeTab === 'Speedy Searching'}">
                    <a>Speedy Searching</a>
                </li>
                <li class="tabs-list px-5 py-4" (click)="onTabClick('Easy Sharing')"
                    [ngClass]="{ 'activetab' :activeTab === 'Easy Sharing'}">
                    <a>Easy sharing</a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="row align-items-center pt-5 mt-4" *ngIf="activeTab==='Simple Bookmarking'">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <img src="assets/images/illustration-features-tab-1.svg" alt="feature-tab1" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center text-md-start pt-5 pt-md-0">
                    <h3>Bookmark in one click</h3>
                    <p> Organize your bookmarks however you like. Our simple drag-and-drop interface
                        gives you complete control over how you manage your favourite sites.</p>
                    <button class="btn btn-primary rounded-1">More Info</button>
                </div>
            </div>
            <div class="row align-items-center pt-5 mt-4" *ngIf="activeTab==='Speedy Searching'">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <img src="assets/images/illustration-features-tab-2.svg" alt="feature-tab2" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center text-md-start pt-5 pt-md-0">
                    <h3>Intelligent search</h3>
                    <p> Our powerful search feature will help you find saved sites in no time at all.
                        No need to trawl through all of your bookmarks.</p>
                    <button class="btn btn-primary rounded-1">More Info</button>
                </div>
            </div>
            <div class="row align-items-center pt-5 mt-4" *ngIf="activeTab==='Easy Sharing'">
                <div class="col-12 col-md-6 d-flex justify-content-center">
                    <img src="assets/images/illustration-features-tab-3.svg" alt="feature-tab3" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 text-center text-md-start pt-5 pt-md-0">
                    <h3>Share your bookmarks</h3>
                    <p> Easily share your bookmarks and collections with others. Create a shareable
                        link that you can send at the click of a button.</p>
                    <button class="btn btn-primary rounded-1">More Info</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End: Features Section -->

    <!-- Start: DownLoad Extension Section -->
    <section class="d-flex flex-column align-items-center pb-5 mb-5 pt-5">
        <div class="w-md-50 text-center">
            <h3 class="pt-4 pt-md-5">Download the extension</h3>
            <p class="text-info pb-5"> We've got more browsers in the pipeline. Please do let us know if you've
                got a favourite you'd like us to prioritize.</p>
        </div>

        <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-4">
                <div class="card border-0 shadow rounded-4">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="assets/images/logo-chrome.svg" alt="chrome" class="img-fluid py-5">
                        <h5 class="card-title">Add to Chrome</h5>
                        <h6 class="card-subtitle text-info fw-normal pb-4">Minimum version 62</h6>
                    </div>
                    <img src="assets/images/bg-dots.svg" alt="dots" class="w-100">
                    <button type="button" class="btn btn-primary btn-primary-hover rounded-1 m-4">Add & install
                        Extension</button>
                </div>
            </div>

            <div class="col-12 col-md-4 pt-5 pt-md-4">
                <div class="card border-0 shadow rounded-4">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="assets/images/logo-firefox.svg" alt="firefox" class="img-fluid py-5">
                        <h5 class="card-title">Add to Firefox</h5>
                        <h6 class="card-subtitle text-info fw-normal pb-4">Minimum version 55</h6>
                    </div>
                    <img src="assets/images/bg-dots.svg" alt="dots" class="w-100">
                    <button type="button" class="btn btn-primary btn-primary-hover rounded-1 m-4">Add & install
                        Extension</button>
                </div>
            </div>

            <div class="col-12 col-md-4 pt-5">
                <div class="card border-0 shadow rounded-4">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="assets/images/logo-opera.svg" alt="opera" class="img-fluid py-5">
                        <h5 class="card-title">Add to Opera</h5>
                        <h6 class="card-subtitle text-info fw-normal pb-4">Minimum version 46</h6>
                    </div>
                    <img src="assets/images/bg-dots.svg" alt="dots" class="w-100">
                    <button type="button" class="btn btn-primary btn-primary-hover rounded-1 m-4">Add & install
                        Extension</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End: DownLoad Extension Section -->

    <!-- Start: FAQ's Section -->
    <section class="w--md-50 mx-auto text-center pb-5 mb-5 pt-5">
        <div class="w-100 pb-5">
            <h3>Frequently Asked Questions</h3>
            <p class="text-info">Here are some of our FAQs. If you have any other questions you'd like
                answered please feel free to email us.</p>
        </div>

        <!-- Start: Accordian -->
        <div class="accordion w-100 accordion-flush text-start border-top border-bottom" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed btn-hover btn-hover" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        What is Bookmark?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
                        justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed btn-hover" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How can I request a new browser?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula.
                        Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
                        ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies.
                        Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed btn-hover" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Is there a mobile app?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut
                        condimentum
                        urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed
                        sollicitudin ex et ultricies bibendum.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingfour">
                    <button class="accordion-button collapsed btn-hover" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        What about other Chromium browsers?

                    </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui.
                        Aliquam
                        vitae neque eget nisl gravida pellentesque non ut velit.
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Accordian -->

        <button type="button" class="btn btn-primary rounded-1 mt-5">More Info</button>
    </section>
    <!-- End: FAQ's Section -->
</main>