.sidebar {
    width: 100%;
    @include position(absolute, 0, 0, 0, auto);
    transition: all 0.5s ease-in-out;
    background: $secondary;
    opacity: 95%;
    transform: translateX(100%);
}

#menu {
    &:checked {
        ~.sidebar {
            transform: translateX(0);
        }

        ~.backdrop {
            display: block;
        }
    }
}